@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-body:#fcfcfc;
    --bg-card:rgb(255, 255, 255);
    --bg-main:rgb(138, 10, 235);
}
body{
    background-color: var(--bg-body);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button{
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
}
.container-main-app{
    .btn-modal{
        & .btn{
            display: inline-block;
            padding: 1em 3em;
            background: var(--bg-main);
            color: rgb(255, 255, 255);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            cursor: pointer;
            font-size: 0.867em;
            text-transform: capitalize;
        }
    }
}
.box-modal{
    width: 100%;
    min-height: 100vh;
    background: rgb(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    .modal{
        width:90%;
        max-width: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        background: var(--bg-card);
        padding: 24px 27px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        overflow: hidden;
        .header-modal{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title-modal{
                .title{
                    font-size: 1em;
                    text-transform: capitalize;
                    font-weight: 500;
                }
            }
            .btn-close{
                .btn{
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    background: #eee;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    cursor: pointer;
                    & i{
                        font-size:1.1em;
                        color: #c7c7cc;
                    }
                }
            }
        }
    }
}